doctype html
html
  head
    meta(charset='utf-8')
    title Precision Machining
    link(rel='stylesheet' href='/css/reset.css' type="text/css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='/css/pm_main.css' type="text/css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  #page-container
    #content-wrap
      // Nav (Holds Logo along with tabs)
      header
        img.logo(src='/img/Pokemon-Logo-PNG-Free-Pic.png' height="60px")
        input#nav-toggle.nav-toggle(type='checkbox')
        nav
          ul
            li
              a(href='fire') Fire Types
            li
              a(href='water') Water Types
            li
              a(href='earth') Earth Types
            li
              a(href='electric') Electric Types
            li
              a(href='dragon') Dragon Types
        label.nav-toggle-label(for='nav-toggle')
          span
      .row
        .card(style="width: 18rem;").col-sm
        
          img(src=squirtImg alt="pokemon image").card-img-top
          .card-body
            h5.card-title #{squirtName}
            p.card-text Some quick text
          ul.list-group.list-group-flush
            li.list-group-item Height: #{squirtHeight} pounds
            li.list-group-item Weight: #{squirtWeight} kilograms
            li.list-group-item DFA
            
        .card(style="width: 18rem;").col-sm
          img(src=buizImg alt="pokemon image").card-img-top
          .card-body
            h5.card-title #{buizName}
            p.card-text Some quick text
          ul.list-group.list-group-flush
            li.list-group-item Height: #{buizHeight} feet
            li.list-group-item Weight: #{buizWeight} kilograms
            li.list-group-item ddf
        
        .card(style = "width: 18rem").col-sm
          img(src=gyarImg alt="pokemon image").card-img-top
          .card-body
            h5.card-title #{gyarName}
            p.card-text dfafd
          ul.list-group.list-group-flush
            li.list-group-item Height: #{gyarHeight} feet
            li.list-group-item Weight: #{gyarWeight} kilograms
            li.list-group-item dfaf
    footer
      #links
        p
          a(href='https://drive.google.com/file/d/1dH3h6C3VaGFJM_OQs96lUrLw8STLl5Hh/view')
            | Course
            | Overview
        p
          a(href='https://west-mec.edu/advisory-council/') Advisory Council
        p
          a(href='https://west-mec.edu/parent-resources/')
        p
          a(href='https://drive.google.com/file/d/1mOyvO0_UizW8YMWSxVwjup5B0Gy35gK5/view')
        p
          a(href='')
      section#mediaContainer
        #media
          a.fa.fa-facebook(href='#' title='Facebook')
          a.fa.fa-twitter(href='#' title='Twitter')
          a.fa.fa-instagram(href='#' title='Instagram')
          a.fa.fa-linked-in(href='#' title='linked-in')
